.app-drag-drop-overlay
{
    pointer-events: none;
    position: fixed;
    z-index: 40;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($app-color-bahama-blue, 0.8);
    display: none;

    &.-active
    {
        display: block;
    }
}
